// Define variables for your color scheme

// For example:
$red: #ED1C24;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #00A550;
$gray: #0E0000;
$light-gray: #FDFDFD;
$yellow-t: #FEF097;
$yellow-b: #FFFDEF;
$blue-k: #2479BE;
$blue-t: #A1C6DF;
$blue-b: #E5EBF7;
$red-t: #F3B3B2;
$red-b: #FDEBE6;
$green-t: #D2E5AC;
$green-b: #D2E5AC;
$gray-s: #EEE;
