.legend-line img {
  display: block;
  padding-right: 20px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.legend {
  position: fixed;
  top: 30%;
  left: 35%;
  border: 1px solid black;
  background: white;
}

.close-button {
  background: black;
  color: white;
  text-align: right;
}

.legend-line {
  display: flex;
  border: 1px solid black;
  justify-content: flex-start;
}

#sdc {
  background-color: $green-b;
}

#sdc h1 {
  background-color: $green-t;
}

#premium {
  background-color: $purple-b;
}

#premium h1 {
  background-color: $purple-t;
}

#flavours {
  background-color: $yellow-b;
}

#flavours h1 {
  background-color: $yellow-t;
}

#powder {
  background-color: $red-b;
}

#powder h1 {
  background-color: $red-t;
}

.flavours-section h1 {
  color: black;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.flavour-title:hover h1 {
  color: white;
  // font-size: 64px;
  transition: 0.2s ease;
  font-weight: bold;
  }

.flavours-section:hover h1 {
  color: white;
  // font-size: 64px;
  transition: 0.2s ease;
  font-weight: bold;
}

.flavours-section {
  padding-left: 30px;
  padding-right: 30px;
}

#one-line {
  width: 800px;
  padding-left: 100px;
  font-size: 18px;
}

.name-mrp {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

th, td {
  // border-bottom: 1px solid #ddd;
}

.flavour-hide em {
  font-size: 12px;
}

.top-selling {
  background-color: $blue-b;
  margin-top: 70px;
}

.top-selling h1 {
  background-color: $blue-t;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.name-row img {
  height: 10px;
  margin-left: 2px;
}

.name-row {
  display: block;
  justify-content: space-between;
  flex-grow: 0;
  right: 0px;
  align-items: baseline;
}


