.legend img {
  display: block;
  padding-right: 20px;
  padding-bottom: 2px;
  // height: 15px;
  // width: 15px;
}

.legend {
  position: fixed;
  top: 10%;
  left: 35%;
  border: 1px solid black;
  padding: 0 10px;
}

.legend-line {
  display: flex;
}

#flavours {
  background-color: $yellow-b;
}

#flavours h1 {
  background-color: $yellow-t;
}

#powder {
  background-color: $red-b;
}

#powder h1 {
  background-color: $red-t;
}

.flavours-section h1 {
  color: black;
  text-align: center;
  margin-bottom: 50px;
  padding: 20px;
}

#one-line {
  width: 800px;
  padding-left: 100px;
  font-size: 18px;
}

.uses {
  height: 10px;
  width: 10px;
  padding-right: 20px;
}

.uses-image {
  margin-left: 2px;
  width: 10px;
  height: 10px;
}

.name-mrp {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

.top-selling {
  background-color: $blue-b;
  padding-bottom: 50px;
}

.top-selling h1 {
  background-color: $blue-t;
  color: black;
  text-align: center;
  margin-bottom: 50px;
  padding: 20px;
}

.name-row img {
  height: 10px;
  margin-left: 2px;
}

.name-row {
  display: block;
  justify-content: space-between;
  flex-grow: 0;
  right: 0px;
  align-items: baseline;
}

.uses {
  display: flex;
}
