
// Specific CSS for your home-page

.whatsapp a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

.whatsapp {
  position: fixed;
  right: 40px;
  bottom: 70px;
}

.top-padding {
  padding-top: 200px;
}

.separator hr {
  margin-block-start: 0px;
  margin-block-end: 0px;
  background-color: $gray-s;
}

#get-in-touch {
  background-color: $red-b;
}

.hidden {
  transition: 1s ease;
  display: none;
}

.detail {
  background-color: white;
}

.home-image img {
  padding: 10px 50px;
}


.home-image {
  border-bottom: 2px solid $gray-s;
}
