// Specific CSS for your home-page

.top-padding {
  padding-top: 200px;
}

.separator hr {
  margin-block-start: 0px;
  margin-block-end: 0px;
  background-color: $gray-s;
}

#get-in-touch {
  background-color: $red-b;
}

.hidden {
  transition: 1s ease;
  display: none;
}

.detail {
  background-color: white;
}

.home-image img {
  padding: 10px 50px;
}


.home-image {
  border-bottom: 2px solid $gray-s;
}
