<div class="flavour-line">
  <div class="flavour-infos">
    <div>
      <h2><%= p.name %></h2>
      <div class="block">
        <p><%= p.code %></p>
        <%= render 'shared/uses', :p => p %>
      </div>
    </div>
    <div>
      <h2><%= p.mrp %></h2>
    </div>
  </div>
</div>
