<div class= "flavour-line">
  <tr>
    <td><%= p.name %></td>
    <td><%= p.mrp %></td>
    <td><em><%= p.code %></em></td>
    <td>
      <%= render 'shared/uses', :p => p %>
    </td>
  </tr>
</div>
