<div class= "flavour-line">
  <tr>
    <td>
    <div class="line-block">
      <em><%= p.code %></em>
      <%= link_to " #{p.name}", product_path(p), class: "fas fa-info-circle" %>

    </div>
    </td>
    <td><%= p.mrp %></td>
    <td>
      <%= render 'shared/uses', :p => p %>
    </td>
  </tr>
</div>
