<%= render 'shared/topselling', :pro => @products.select{ |a| a.top_selling == true } %>

  <% @products.each do |p| %>
  <div class="row">
    <%= p.code %>
    <%= p.name %>
    <%= p.mrp %>
  </div>
<% end %>
