<div class="flavour-title">
  <h1><%= title %></h1>
</div>
<div class="flavour-hide hidden">
  <div class="">
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>MRP (per <%= unit %>)</th>
        <th>Code</th>
      </tr>
      <% pro.each do |p| %>
        <%= link_to render(:partial => 'shared/flavour_line', locals: {:p => p}), root_path %>
      <% end %>
    </table>
  </div>
</div>
