<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/ashrajin/?ref=bookmarks"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/AshrajInd"><i class="fa fa-twitter"></i></a>
    <a href="https://wa.me/918691016686"><i class="fa fa-whatsapp"></i></a>
    <a href="https://www.linkedin.com/company/ashraj-industries/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Ashraj Industries
  </div>
</div>
