<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 form-default">
  <%= simple_form_for @product do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%#= link_to "Add new pincode", new_pincode_path(company: params[:company]) %>
  <%#= f.input :street %>
  <div class="hidden">
    <%#= f.input_field "Pass Params", name: "product", value: params[:product] %>
  </div>
  <%= f.button :submit %>
  <% end %>
</div>
