<div class="card-product detail detail-text">
  <div class="card-product-infos">
    <h2><%= heading %></h2>
    <div class="hidden">
      <p>
        <%= text %>
      </p>
    </div>
  </div>
</div>
<div class="separator">
  <hr>
</div>
