<div class="uses">
  <% if p.bakery == true %>
  <%= image_tag "Green.png", class: "uses-image" %>
  <% end %>
  <% if p.soft_drink == true %>
  <%= image_tag "Red.png", class: "uses-image" %>
  <% end %>
  <% if p.icecream == true %>
  <%= image_tag "Blue.png", class: "uses-image" %>
  <% end %>
  <% if p.other == true %>
  <%= image_tag "Black.png", class: "uses-image" %>
  <% end %>
</div>
