<%#= link_to "New Product", new_product_path %>
<div class="container top-padding">
<h1>
Site under construction. Please call <a href="tel:+918691016684">Call +91 869 101 6684</a> or mail at <a href="mailto:info@ashraj.in?Subject=Hello" target="_top">info@ashraj.in</a>.
</h1>
</div>
