<div class="view-products">
  <p>
    <%= link_to "Flavours", products_path, class: "btn-mains", id: "flavour" %>
  </p>
  <p>
    <%= link_to "Essential Oils", oils_path, class: "btn-mains" %>
  </p>
</div>
<br>
<br>
<%= link_to "Back to Home", root_path, class: "btn-backhome", id: "products-index" %>
