.btn-products {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $red;
  transition: background 0.2s ease;
}

.btn-products:hover {
  background: $green;
  color: white;
}

.btn-backhome {
  background: $blue-k;
  color: white;
  width: 300px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  border-radius: 3px;
  display: block;
}

.btn-mains {
  background: $blue-k;
  color: white;
  width: 300px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  border-radius: 3px;
}
