.btn-products {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $red;
  transition: background 0.2s ease;
}

.btn-products:hover {
  background: $green;
  color: white;
}

.btn-backhome {
  background: $blue-k;
  color: white;
  width: 300px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-backhome:hover {
  color: $gray-s;
  background-color: $gray;
}

#flavour {
  background: $red-b;
}
.btn-mains {
  background: $blue-b;
  color: black;
  font-style: bold;
  width: 80%;
  height: 150px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#flavour:hover {
  // transition: font-size 0.5s ease;
  color: $red-b;
  background: $red-t;
}

.btn-mains:hover {
  background-color: $blue-t;
  color: $blue-b;
  width: 100%;
  transition: 0.5s ease;
  // transition: font-size 0.5s ease;
  // font-size: 70px;
}

#products-index {
  position: relative;
  bottom: 30px;
}

.btn-toggle {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $gray;
  transition: background 0.2s ease;
}

.btn-toggle:hover {
  opacity: 0.7;
  color: white;
}
